---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-purple dark:text-green lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 text-purple dark:bg-green"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a skilled Full Stack Developer with expertise in React.js, Node.js, and MongoDB, adept at designing and implementing dynamic user interfaces using React.js and efficiently managing server-side applications with NodeJS and NextJS. Proficient in NoSQL for seamless data storage and retrieval, I excel in RESTful API development along with GraphQL, version control using Git.
		</p>
	</div>
</section>
