---
import Accordion from './ui/Accordion.astro';
---

<div>
	<Accordion title="test 1" icon={'mdi:account-badge-outline'}>content</Accordion>
	<Accordion title="test 2" icon={'mdi:account-badge-outline'}>content</Accordion>
	<Accordion title="test 3" icon={'mdi:account-badge-outline'}>content</Accordion>
</div>
