---
import Accordion from './ui/Accordion.astro';
import SectionTitle from './ui/SectionTitle.astro';
import experiences from '../utils/experience'
import ExperienceCard from './ui/ExperienceCard.astro';
---

<section
	data-testid="experience"
	id="experience"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0"
>
    <SectionTitle title="Experience" />
    <ul class="w-full">
        {experiences.map(item => (
            <Accordion title={item.company} icon={'mdi:account-badge-outline'}>
                <ExperienceCard role={item.role} projects={item.projects} />
            </Accordion>
        ))}
    </ul>

    <div class="mt-4 flex flex-col md:flex-row gap-1">
        <p class="text-xs font-bold italic text-purple dark:text-green">Note:</p>
        <p class="text-xs italic text-black dark:text-white">This section only reflects my experience as a <strong class="font-bold text-purple dark:text-green">Remove Developer</strong>. To know more you can <a href={`${import.meta.env.PUBLIC_CV}`} target="_blank" class="text-purple dark:text-green underline">download my full CV</a>. Thanks!</p>
    </div>
</section>