---
import Accordion from './ui/Accordion.astro';
import SectionTitle from './ui/SectionTitle.astro';
import experiences from '../utils/experience'
import ExperienceCard from './ui/ExperienceCard.astro';
---

<section
	data-testid="experience"
	id="experience"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen"
>
    <SectionTitle title="Experience" />
    <ul class="w-full">
        {experiences.map(item => (
            <Accordion title={item.company} icon={'mdi:account-badge-outline'}>
                <ExperienceCard role={item.role} projects={item.projects} />
            </Accordion>
        ))}
    </ul>
</section>